build/
debug/
release/
x64/
BorderlessWindow/
*.exe
*.sln
*.suo
*.user
*.userprefs
*.userosscache
*.sln.ide
*.sln.ide.userprefs
*.sln.ide.userprefs.user
*.sln.ide.userprefs.userosscache
*.sln.ide.userprefs.userosscache.user
*.sln.ide.userprefs.userosscache.userprefs
*.sln.ide.userprefs.userosscache.userprefs.user
*.sln.ide.userprefs.userosscache.userprefs.userprefs.user
*.sln.ide.userprefs.userosscache.userprefs.userprefs.userprefs.user
.vs/
.vscode/
*.vscode.code-workspace
*.vscode.code-workspace.code-workspace


